*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-webkit-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: #efefef;
  font-size: 112.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: transparent;
  color: #212420;
  font-family: "adelle", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%; }

sup, sub {
  line-height: 0;
  font-size: 0.61805rem; }

a {
  color: #c64227;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }
  a:hover {
    color: #aa3921; }
  a:visited {
    color: #8d2f1c; }
  a:focus, a:active {
    color: #aa3921; }

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

/*h1*/
.title {
  color: #c64227;
  font-size: 2rem;
  letter-spacing: .25em;
  text-transform: uppercase; }

h2 {
  font-size: 1.16667rem; }

p + p {
  text-indent: 1.5em; }

header[role='banner'] {
  background: #212420;
  margin-bottom: 5rem;
  position: relative; }
  header[role='banner'] .graphic {
    background: #c64227;
    bottom: 0;
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    width: 100%; }

div.logo {
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 412px; }

.letters {
  position: absolute;
  bottom: -16px; }

.mark {
  left: 229px;
  position: absolute;
  bottom: -13px;
  z-index: 10; }

blockquote {
  background: #212420;
  border-top: 8px solid #5c7d4d;
  color: #c64227;
  float: right;
  padding: 2rem;
  width: 48.64086%; }
  blockquote p {
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.16667rem;
    -webkit-transform: rotate(-10deg) skew(-20deg);
    -moz-transform: rotate(-10deg) skew(-20deg);
    -ms-transform: rotate(-10deg) skew(-20deg);
    -o-transform: rotate(-10deg) skew(-20deg);
    transform: rotate(-10deg) skew(-20deg); }

.footer {
  clear: both; }
  .footer small {
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.home header {
  background: #efefef;
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 4% 0 3% 0; }

.home .logo {
  display: block;
  margin: 0 0 0 -1.25%;
  width: 102.5%; }

.tag {
  background: #efefef;
  padding: 1.5rem 0; }

.overview {
  background: #212420;
  color: #e0d1a2; }

.overview h2 {
  font-size: 1.618rem;
  line-height: 2.5rem;
  margin: 1.5rem 0; }

.overview p {
  margin: 1.5rem 0;
  text-indent: 0; }

.overview ul {
  margin: 1.5rem 0; }

.start {
  background: #c64227;
  color: #e0d1a2;
  padding: 1.5rem 0;
  text-align: center; }
