.banner:after, .tag div:after {
  content: "";
  display: table;
  clear: both; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

button, input {
  line-height: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-webkit-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  background: #efefef;
  font-size: 112.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: transparent;
  color: #212420;
  font-family: "adelle", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%; }

sup, sub {
  line-height: 0;
  font-size: 0.61805rem; }

a {
  color: #c64227;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word; }
  a:hover {
    color: #aa3921;
    text-decoration: none; }
  a:visited {
    color: #8d2f1c; }
  a:focus, a:active {
    color: #aa3921; }

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

p + p {
  text-indent: 1.5em; }

.page-container {
  overflow: hidden;
  width: 100%; }

.banner {
  border-top: 0.25rem solid #212420; }

.banner-logo {
  margin: 2rem 0 1rem 0; }

.banner--home {
  background: #efefef;
  border: none;
  margin: 0;
  overflow: hidden;
  padding: 2% 0 3% 0; }
  .banner--home .banner-logo {
    display: block;
    margin: 0 0 0 -1.75%;
    width: 103%; }
    @media screen and (min-width: 30em) {
      .banner--home .banner-logo {
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transform: rotate(2deg);
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        transform-origin: 0 100%; } }

.nav {
  margin: 0 0 3rem 0; }
  .nav ul {
    list-style: none;
    text-align: center; }
  .nav li {
    display: inline-block; }
  .nav a {
    color: #9fa79c;
    display: inline-block;
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.809rem;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 30em) {
      .nav a {
        font-size: 1rem;
        padding: 0.5rem 1rem; } }
    .nav a:hover {
      background: rgba(33, 36, 32, 0.05);
      color: #5f685c; }

.about .nav-about, .blog-home .nav-blog, .blog .nav-blog, .work .nav-work, .contact .nav-contact {
  color: #5f685c; }

.nav--home {
  background: #e2e2e2;
  margin-bottom: 1rem;
  position: relative; }
  @media screen and (min-width: 48em) {
    .nav--home {
      margin-bottom: 0; } }

.tag {
  border-bottom: 1rem solid #c64227;
  margin: 0 0 0 -1%;
  position: relative;
  width: 102%;
  z-index: 10; }
  @media screen and (min-width: 30em) {
    .tag {
      font-size: 1.30896rem;
      line-height: 2rem;
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      transform: rotate(2deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%; } }
  @media screen and (min-width: 48em) {
    .tag {
      font-size: 1.618rem;
      line-height: 2.5rem; } }

.tag div {
  background: #efefef;
  padding: 1.5rem 0 4rem 0; }

.start {
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 30em) {
    .start {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      transform: rotate(2deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%; } }
  .start .button {
    position: absolute;
    right: 0;
    top: -2rem; }

.overview {
  background: #212420 url(/img/topo-5.png) repeat;
  color: #e0d1a2;
  color: rgba(224, 209, 162, 0.5);
  padding: 5rem 0 4rem 0;
  position: relative;
  z-index: 1; }
  .overview p {
    font-style: italic;
    margin: 1rem 0;
    text-indent: 0; }
  .overview p:first-child {
    font-style: normal;
    margin: 1.5rem 0; }
    @media screen and (min-width: 30em) {
      .overview p:first-child {
        font-size: 1.30896rem;
        line-height: 2rem; } }
  .overview:after {
    background: url(/img/tile-row.png) repeat-y 50% 10px;
    bottom: 0;
    content: "";
    right: 0;
    position: absolute;
    top: 0;
    width: 38%; }
    @media screen and (min-width: 30em) and (max-width: 48em) {
      .overview:after {
        background-size: 60% auto;
        width: 31%; } }
    @media screen and (max-width: 30em) {
      .overview:after {
        content: none; } }

.contact {
  background: #5c7d4d;
  color: #2e3e26;
  padding: 3.5rem 0 4.55556rem 0;
  text-align: center; }
  .contact h2 {
    font-size: 1.618rem;
    line-height: 3rem;
    padding: 0 0 1rem 0;
    text-transform: uppercase; }
  .contact a {
    color: #2e3e26; }

.posts {
  list-style: none; }

.posts-item {
  margin: 1rem 0 4rem 0; }

.posts-meta {
  color: #9fa79c;
  font-size: 0.809rem;
  font-style: italic;
  line-height: 2rem; }
  @media screen and (min-width: 30em) {
    .posts-meta {
      float: right;
      margin-left: 1rem; } }

.posts-title {
  font-size: 1.618rem;
  line-height: 2rem;
  margin-bottom: 1rem; }

.pagination-button {
  background: rgba(33, 36, 32, 0.05);
  color: rgba(33, 36, 32, 0.3) !important;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 2.61792rem;
  left: 0;
  line-height: 2.61792rem;
  margin-top: -2rem;
  padding: 1rem 0 1.25rem 0;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 50%;
  vertical-align: middle;
  width: 11.212121212121213%; }
  .pagination-button:hover {
    background: rgba(33, 36, 32, 0.1); }

.pagination-next {
  left: auto;
  right: 0; }

.post h2 {
  font-size: 1.618rem;
  line-height: 2rem;
  margin: 2.5rem 0 0.5rem 0; }

.post-title {
  color: #c64227;
  font-size: 2.61792rem;
  line-height: 2.5rem;
  margin-top: 5rem;
  text-align: center;
  text-transform: uppercase; }

.post-meta {
  color: #9fa79c;
  font-size: 0.809rem;
  font-style: italic;
  line-height: 1.5rem;
  margin: 0.5rem 0 2rem 0;
  text-align: center; }

.comments {
  background: #e2e2e2;
  color: #5f685c;
  font-style: italic;
  margin: 5rem 0 7rem 0;
  padding: 0.5rem 0;
  text-align: center; }

.button {
  background: #c64227;
  color: #e0d1a2;
  padding: 1em 2.11111em 1em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap; }
  .button:hover {
    background: #aa3921;
    color: #e0d1a2; }
  .button:after {
    background: url(/img/arrow-redblack.svg) no-repeat 100% 0;
    background-size: auto 200%;
    bottom: 0;
    content: "";
    position: absolute;
    right: -0.72222em;
    top: 0;
    width: 2.77778em; }
  .button:hover {
    background: #aa3921; }
  .button:hover:after {
    background-position: 100% 100%; }
  @media screen and (max-width: 30em) {
    .button {
      font-size: 0.809rem; } }

.footer {
  clear: both;
  padding-top: 4.55556rem;
  padding-bottom: 3.5rem;
  position: relative;
  text-align: center; }
  .footer p {
    font-family: "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.5rem; }
  .footer small {
    display: block;
    font-size: 0.809rem; }
  .footer:after {
    background: url(/img/crest.svg) no-repeat 0 0;
    background-size: 100%;
    content: "";
    height: 110px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    top: -55px;
    width: 90px; }
