// Table of Contents
// -------------------------------------------------------------

// ::Utilities
// ::Settings

// ::Reset
// ::Base styles

// ::Layout styles
// ::Module styles
// ::State styles
// ::Theme styles



// ::Settings and ::Utilities
// ------------------------------------------------------------
@import "libs/utilities";
@import "settings";



// ::Reset
// ------------------------------------------------------------
@import "libs/reset";



// ::Base styles - almost exclusively single element selectors
// ------------------------------------------------------------

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: $body-color;
	font-size: percent($base-font-size, 16px);
	-webkit-overflow-scrolling: touch;
	// -webkit-tap-highlight-color: $lightest-neutral-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: rel($base-font-size);
	line-height : rel($base-line-height);
	width : 100%;
}

sup, sub { line-height:0; font-size:rel($smallest-font-size ); }

a {
	color: $link-color;
	@include force-wrap;					// force text links to wrap
	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:focus, &:active {
		color: $link-color-focus;
	}
}

h1, h2, h3 , h4, h5, h6 {
	font-family:$heading-font-family;
	font-weight:700;
}

p + p {
	text-indent: 1.5em;
}

// blockquote {
// 	background: $black;
// 	border-top: 8px solid $secondary-color;
// 	color: $primary-color;
// 	float:right;
// 	padding:rel($vertical-rhythm * 4);
// 	width:48.64086%;
// 	p {
// 		font-family: $alt-font-family;
// 		font-size: rel(21);
// 		@include transform(rotate(-10deg) skew(-20deg));
// 	}
// }



// ::Layout styles
// ------------------------------------------------------------

// grid
// the grid styles are in grid.css (to speed up compiling) - for production it would be good to move them here

.page-container {
	overflow: hidden;
	width: 100%;
}



// ::Module styles
// ------------------------------------------------------------

// banner
.banner {
	border-top: rel($vertical-rhythm * .5) $border-style $black;
	@extend %cf;
}
// logo
.banner-logo {
	margin: rel($vertical-rhythm * 4) 0 rel($vertical-rhythm * 2) 0;
}

// home banner
.banner--home {
	background: $white;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 2% 0 3% 0;
	.banner-logo {
		display: block;
		margin: 0 0 0 -1.75%;
		width: 103%;
		@include mq($bp-small) {
			@include transform(rotate(2deg));
			@include transform-origin(0 100%);
		}
	}
}



// navigation
.nav {
	margin: 0 0 rel($vertical-rhythm * 6) 0;
	ul {
		list-style: none;
		text-align: center;
	}
	li {
		display: inline-block;
	}
	a {
		color: lighten($black, 50%);
		display: inline-block;
		font-family: $heading-font-family;
		font-size: rel($small-font-size);
		font-weight: 700;
		padding: rel($vertical-rhythm) rel($pad-small);
		text-decoration: none;
		text-transform: uppercase;
		@include mq($bp-small) {
			font-size: rel($base-font-size);
			padding: rel($vertical-rhythm) rel($pad);
		}
		&:hover {
			background: rgba($black,.05);
			color: lighten($black, 25%);
		}
	}
}
.about .nav-about, .blog-home .nav-blog, .blog .nav-blog, .work .nav-work, .contact .nav-contact {
	color: lighten($black, 25%);
}
// home navigation
.nav--home {
	background: darken($white, 5%);
	margin-bottom: rel($vertical-rhythm * 2);
	position: relative;
	@include mq($bp-medium) {
		margin-bottom: 0;
	}
}




// home tag
.tag {
	border-bottom: rel($vertical-rhythm * 2) $border-style $primary-color;
	margin: 0 0 0 -1%;
	position: relative;
	width: 102%;
	z-index: 10;
	@include mq($bp-small) {
		font-size: rel($medium-font-size);
		line-height: rel($vertical-rhythm * 4);
		@include transform(rotate(2deg));
		@include transform-origin(0 100%);
	}
	@include mq($bp-medium) {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 5);
	}
}

.tag div {
	background: $white;
	@extend %cf;
	padding: rel($vertical-rhythm * 3) 0 rel($vertical-rhythm * 8) 0;
}




// home start
.start {
	position: relative;
	z-index: 10;
	@include mq($bp-small) {
		@include transform(rotate(2deg));
		@include transform-origin(0 100%);
	}
	.button {
		position: absolute;
		right: 0;
		top: -(rel($vertical-rhythm * 4));
	}
}




// home overview
.overview {
	background: $black url(/img/topo-5.png) repeat;
	color: $lighter-tertiary-color;
	color: rgba($lighter-tertiary-color, .5);
	padding: rel($vertical-rhythm * 10) 0 rel($vertical-rhythm * 8) 0;
	position: relative;
	z-index: 1;
	p {
		font-style: italic;
		margin: rel($vertical-rhythm * 2) 0;
		text-indent: 0;
	}
	p:first-child {
		font-style: normal;
		margin: rel($vertical-rhythm * 3) 0;
		@include mq($bp-small) {
			font-size: rel($medium-font-size);
			line-height: rel($vertical-rhythm * 4);
		}
	}
	&:after {
		background: url(/img/tile-row.png) repeat-y 50% 10px;
		bottom: 0;
		content: "";
		right: 0;
		position: absolute;
		top: 0;
		width: 38%;
		@include mq(($bp-small, $bp-medium), false, false, (min,max), (width,width)) {
			background-size: 60% auto;
			width: 31%;
		}
		@include mq($bp-small, false, false, max, width) {
			content: none;
		}
	}
}




// contact area near footer
.contact {
	background: $secondary-color;
	color: $darkest-secondary-color;
	padding: rel($vertical-rhythm * 7) 0 rel($vertical-rhythm * 3 + 55) 0;
	text-align: center;
	h2 {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 6);
		padding: 0 0 rel($vertical-rhythm * 2) 0;
		text-transform: uppercase;
	}
	a {
		color: $darkest-secondary-color;
	}
}




// posts
.posts {
	list-style: none;
}
.posts-item {
	margin: rel($vertical-rhythm * 2) 0 rel($vertical-rhythm * 8) 0; 
}
.posts-meta {
	color: lighten($black,50%);
	font-size: rel($small-font-size);
	font-style: italic;
	line-height: rel($vertical-rhythm * 4);
	@include mq($bp-small) {
		float: right;
		margin-left: rel($pad);
	}
}
.posts-title {
	font-size: rel($large-font-size);
	line-height: rel($vertical-rhythm * 4);
	margin-bottom: rel($vertical-rhythm * 2);
}




// pagination
.pagination-button {
	background: rgba($black,.05);
	color: rgba($black,.3) !important;
	font-family: $georgia;
	font-size: rel($largest-font-size);
	left: 0;
	line-height: rel($largest-font-size);
	margin-top: -#{rel($vertical-rhythm * 4)};
	padding: rel($vertical-rhythm * 2) 0 rel($vertical-rhythm * 2.5) 0;
	position: fixed;
	text-align: center;
	text-decoration: none;
	top: 50%;
	vertical-align: middle;
	width: 11.212121212121213%;
	&:hover {
		background: rgba($black,.1);
	}
}
.pagination-next {
	left: auto;
	right: 0;
}




// individual article
.post {
	h2 {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 4);
		margin: rel($vertical-rhythm * 5) 0 rel($vertical-rhythm) 0;
	}
}
.post-title {
	color: $primary-color;
	font-size: rel($largest-font-size);
	line-height: rel($vertical-rhythm * 5);
	margin-top: rel($vertical-rhythm * 10);
	text-align: center;
	text-transform: uppercase;
}
.post-meta {
	color: lighten($black,50%);
	font-size: rel($small-font-size);
	font-style: italic;
	line-height: rel($vertical-rhythm * 3);
	margin: rel($vertical-rhythm) 0 rel($vertical-rhythm * 4) 0;
	text-align: center;
}




// comments
.comments {
	background: darken($white, 5%);
	color: lighten($black,25%);
	font-style: italic;
	margin: rel($vertical-rhythm * 10) 0 rel($vertical-rhythm * 14) 0;
	padding: rel($vertical-rhythm) 0;
	text-align: center;
}




// button
.button {
	background: $primary-color;
	color: $lighter-tertiary-color;
	padding: (($vertical-rhythm * 2) / $base-font-size + 0em) (38 / $base-font-size + 0em) (($vertical-rhythm * 2) / $base-font-size + 0em) (($vertical-rhythm * 2) / $base-font-size + 0em);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	&:hover {
		background: $dark-primary-color;
		color: $lighter-tertiary-color;
	}
	&:after {
		background: url(/img/arrow-redblack.svg) no-repeat 100% 0;
		background-size: auto 200%;
		bottom: 0;
		content: "";
		position: absolute;
		right: -(13 / $base-font-size + 0em);
		top: 0;
		width: (50 / $base-font-size + 0em);
	}
	&:hover {
		background: $dark-primary-color;
	}
	&:hover:after {
		background-position: 100% 100%;
	}
	@include mq($bp-small, false, false, max, width) {
		font-size: rel($small-font-size);
	}
}




.footer {
	clear:both;
	padding-top: rel($vertical-rhythm * 3 + 55);
	padding-bottom: rel($vertical-rhythm * 7);
	position: relative;
	text-align: center;
	p {
		font-family: $alt-font-family;
		margin-bottom: rel($vertical-rhythm);
	}
	small {
		display: block;
		font-size: rel($small-font-size);
	}
	&:after {
		background: url(/img/crest.svg) no-repeat 0 0;
		background-size: 100%;
		content: "";
		height: 110px;
		left: 50%;
		margin-left: -45px;
		position: absolute;
		top: -55px;
		width: 90px;
	}
}



// ::State styles
// ------------------------------------------------------------



// ::Theme styles
// ------------------------------------------------------------

// n/a
