// Table of Contents
// -------------------------------------------------------------

// ::Utilities
// ::Settings

// ::Reset
// ::Base styles

// ::Layout styles
// ::Module styles
// ::State styles
// ::Theme styles



// ::Settings and ::Utilities
// ------------------------------------------------------------
@import "libs/utilities";
@import "settings";



// ::Reset
// ------------------------------------------------------------
@import "libs/reset";



// ::Base styles - almost exclusively single element selectors
// ------------------------------------------------------------

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: $body-color;
	font-size: percent($base-font-size, 16px);
	-webkit-overflow-scrolling: touch;
	// -webkit-tap-highlight-color: $lightest-neutral-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: rel($base-font-size);
	line-height : rel($base-line-height);
	width : 100%;
}

sup, sub { line-height:0; font-size:rel($smallest-font-size ); }

a {
	color: $link-color;
	@include force-wrap;					// force text links to wrap
	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:focus, &:active {
		color: $link-color-focus;
	}
}

h1, h2, h3 , h4, h5, h6 {
	font-family:$heading-font-family;
	font-weight:700;
}

p + p {
	text-indent: rel($pad-large);
}

// blockquote {
// 	background: $black;
// 	border-top: 8px solid $secondary-color;
// 	color: $primary-color;
// 	float:right;
// 	padding:rel($vertical-rhythm * 4);
// 	width:48.64086%;
// 	p {
// 		font-family: $alt-font-family;
// 		font-size: rel(21);
// 		@include transform(rotate(-10deg) skew(-20deg));
// 	}
// }

form {
	margin-bottom: rel($vertical-rhythm * 8);
	ul {
		list-style: none;
	}
	li {
		margin: 0 0 rel($vertical-rhythm * 4) 0;
	}
	span {
		display: inline-block;
	}
}
label {
	display: block;
}
input, textarea {
	border: 1px solid lighten($black, 75%);
	display: block;
	font-family: $base-font-family;
	line-height: rel($base-line-height);
	margin: rel($vertical-rhythm) 0;
	padding: rel($vertical-rhythm) rel($pad-small);
	width: 100%;
}
textarea {
	height: rel($vertical-rhythm * 27);
}
input[type='tel'] {
	text-align: center;
}



// ::Layout styles
// ------------------------------------------------------------

// grid
// the grid styles are in grid.css (to speed up compiling) - for production it would be good to move them here

.page-container {
	overflow: hidden;
	width: 100%;
}

// Hide from both screenreaders and browsers.
.hidden {
    display: none !important;
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders.
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard.
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
    visibility: hidden;
}



// ::Module styles
// ------------------------------------------------------------

// banner
.banner {
	border-top: rel($vertical-rhythm * .5) $border-style $black;
	@extend %cf;
}
// logo
.banner-logo {
	margin: rel($vertical-rhythm * 4) 0 rel($vertical-rhythm * 2) 0;
}

// home banner
.banner--home {
	background: $white;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 2% 0 3% 0;
	.banner-logo {
		display: block;
		margin: 0 0 0 -1.75%;
		width: 103%;
		@include mq($bp-small) {
			@include transform(rotate(2deg));
			@include transform-origin(0 100%);
		}
	}
}



// navigation
.nav {
	margin: 0 0 rel($vertical-rhythm * 6) 0;
	ul {
		list-style: none;
		text-align: center;
	}
	li {
		display: inline-block;
	}
	a {
		color: lighten($black, 50%);
		display: inline-block;
		font-family: $heading-font-family;
		font-size: rel($small-font-size);
		font-weight: 700;
		padding: rel($vertical-rhythm) rel($pad-small);
		text-decoration: none;
		text-transform: uppercase;
		@include mq($bp-small) {
			font-size: rel($base-font-size);
			padding: rel($vertical-rhythm) rel($pad);
		}
		&:hover, &:focus {
			background: rgba($black,.05);
			color: lighten($black, 25%);
		}
	}
}
.about .nav-about, .blog-home .nav-blog, .blog .nav-blog, .work .nav-work, .contact .nav-contact {
	color: lighten($black, 25%);
}
// home navigation
.nav--home {
	background: darken($white, 5%);
	margin-bottom: rel($vertical-rhythm * 2);
	position: relative;
	@include mq($bp-medium) {
		margin-bottom: 0;
	}
}




// home tag
.tagline {
	border-bottom: rel($vertical-rhythm * 2) $border-style $primary-color;
	margin: 0 0 0 -1%;
	position: relative;
	width: 102%;
	z-index: 10;
	@include mq($bp-small) {
		font-size: rel($medium-font-size);
		line-height: rel($vertical-rhythm * 4);
		@include transform(rotate(2deg));
		@include transform-origin(0 100%);
	}
	@include mq($bp-medium) {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 5);
	}
}

.tagline div {
	background: $white;
	@extend %cf;
	padding: rel($vertical-rhythm * 3) 0 rel($vertical-rhythm * 8) 0;
}




// home start
.start {
	position: relative;
	z-index: 10;
	@include mq($bp-small) {
		@include transform(rotate(2deg));
		@include transform-origin(0 100%);
	}
	.button {
		position: absolute;
		right: 0;
		top: -(rel($vertical-rhythm * 4));
	}
}




// home overview
.overview {
	background: $black url(/img/topo-5.png) repeat;
	color: $lighter-tertiary-color;
	color: rgba($lighter-tertiary-color, .5);
	padding: rel($vertical-rhythm * 10) 0 rel($vertical-rhythm * 8) 0;
	position: relative;
	z-index: 1;
	p {
		font-style: italic;
		margin: rel($vertical-rhythm * 2) 0;
		text-indent: 0;
	}
	p:first-child {
		font-style: normal;
		margin: rel($vertical-rhythm * 3) 0;
		@include mq($bp-small) {
			font-size: rel($medium-font-size);
			line-height: rel($vertical-rhythm * 4);
		}
	}
	&:after {
		background: url(/img/tile-row.png) repeat-y 50% 10px;
		bottom: 0;
		content: "";
		right: 0;
		position: absolute;
		top: 0;
		width: 38%;
		@include mq(($bp-small, $bp-medium), false, false, (min,max), (width,width)) {
			background-size: 60% auto;
			width: 31%;
		}
		@include mq($bp-small, false, false, max, width) {
			content: none;
		}
	}
}




// contact area near footer
.love {
	background: $secondary-color;
	color: $darkest-secondary-color;
	margin-top: rel($vertical-rhythm * 8);
	padding: rel($vertical-rhythm * 7) 0 rel($vertical-rhythm * 3 + 55) 0;
	text-align: center;
	.home & {
		margin: 0;
	}
	h2 {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 6);
		padding: 0 0 rel($vertical-rhythm * 2) 0;
		text-transform: uppercase;
	}
	a {
		color: $darkest-secondary-color;
	}
}




// posts
.posts {
	list-style: none;
}
.posts-item {
	margin: rel($vertical-rhythm * 2) 0 rel($vertical-rhythm * 8) 0; 
}
.posts-meta {
	color: lighten($black,50%);
	font-size: rel($small-font-size);
	font-style: italic;
	line-height: rel($vertical-rhythm * 4);
	@include mq($bp-small) {
		float: right;
		margin-left: rel($pad);
	}
}
.posts-title {
	font-size: rel($large-font-size);
	line-height: rel($vertical-rhythm * 4);
	margin-bottom: rel($vertical-rhythm * 2);
}




// pagination
.pagination-button {
	background: rgba($black,.05);
	color: rgba($black,.3) !important;
	font-family: $georgia;
	font-size: rel($largest-font-size);
	left: 0;
	line-height: rel($largest-font-size);
	margin-top: -#{rel($vertical-rhythm * 4)};
	padding: rel($vertical-rhythm * 2) 0 rel($vertical-rhythm * 2.5) 0;
	position: fixed;
	text-align: center;
	text-decoration: none;
	top: 50%;
	vertical-align: middle;
	width: 11.212121212121213%;
	&:hover {
		background: rgba($black,.1);
	}
}
.pagination-next {
	left: auto;
	right: 0;
}




// individual article
.post {
	h2 {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 4);
		margin: rel($vertical-rhythm * 5) 0 rel($vertical-rhythm) 0;
	}
	h3 {
		margin: rel($vertical-rhythm * 3) 0 rel($vertical-rhythm) 0
	}
	h3 + ul {
		margin-top: 0;
	}
	ul {
		margin: rel($vertical-rhythm * 3) 0;
	}
	ul ul {
		margin: 0 0 0 rel($pad-large);
	}
	blockquote {
		background: darken($white, 5%);
		color: lighten($black,25%);
		font-style: italic;
		margin: rel($vertical-rhythm * 3) 0;
		padding: rel($vertical-rhythm * 3) rel($pad-large);

	}
	.note {
		background: $black;
		color: $white;
		// float: right;
		font-size: rel($small-font-size);
		font-style: italic;
		padding: rel($vertical-rhythm * 2) rel($pad);
		margin: rel($vertical-rhythm * 3) rel($pad);
		@include mq($bp-small) {
			float: right;
			margin: rel($vertical-rhythm) 0 rel($vertical-rhythm) #{grid-gutter(m) + 0%};
			width: #{50 - (grid-gutter(m)/2) + 0%};
			& + p {
				text-indent: rel($pad-large);
			}
		}
		@include mq($bp-medium) {
			margin-left: grid-gutter(l) + 0%;
			margin-right: -#{nth(grid-cols(l), 1) + 0%};
			width: #{(33 + nth(grid-cols(l), 1)) - (grid-gutter(l)/2) + 0%};
		}
	}
	@include mq($bp-small, false, false, max, width) {
		font-size: rel($small-font-size);
	}
}
.post-title {
	color: $primary-color;
	font-size: rel($largest-font-size);
	line-height: rel($vertical-rhythm * 5);
	margin-top: rel($vertical-rhythm * 10);
	text-align: center;
	text-transform: uppercase;
}
.post-meta {
	color: lighten($black,50%);
	font-size: rel($small-font-size);
	font-style: italic;
	line-height: rel($vertical-rhythm * 3);
	margin: rel($vertical-rhythm) 0 rel($vertical-rhythm * 4) 0;
	text-align: center;
}




// comments
.comments {
	background: darken($white, 5%);
	color: lighten($black,25%);
	font-style: italic;
	margin: rel($vertical-rhythm * 10) 0 rel($vertical-rhythm * 14) 0;
	padding: rel($vertical-rhythm) 0;
	text-align: center;
}




// code blocks
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: $code-font-family;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: rel($vertical-rhythm * 2) rel($pad);
	margin: rel($vertical-rhythm * 3) 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: rgba($black, .05);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}


.token.regex,
.token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.1);

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}




// button
.button {
	background: $primary-color;
	border: none;
	color: $lighter-tertiary-color;
	padding: (($vertical-rhythm * 2) / $base-font-size + 0em) (38 / $base-font-size + 0em) (($vertical-rhythm * 2) / $base-font-size + 0em) (($vertical-rhythm * 2) / $base-font-size + 0em);
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	&:hover, &:focus {
		background: $dark-primary-color;
		color: $lighter-tertiary-color;
	}
	&:visited {
		color: $lighter-tertiary-color;
	}
	&:after {
		background: url(/img/arrow-redblack.svg) no-repeat 100% 0;
		background-size: auto 200%;
		bottom: 0;
		content: "";
		position: absolute;
		right: -(13 / $base-font-size + 0em);
		top: 0;
		width: (50 / $base-font-size + 0em);
	}
	&:hover:after, &:focus:after {
		background-position: 100% 100%;
	}
	@include mq($bp-small, false, false, max, width) {
		font-size: rel($small-font-size);
	}
}




.footer {
	clear:both;
	padding-top: rel($vertical-rhythm * 3 + 55);
	padding-bottom: rel($vertical-rhythm * 7);
	position: relative;
	text-align: center;
	p {
		font-family: $alt-font-family;
		margin-bottom: rel($vertical-rhythm);
	}
	small {
		display: block;
		font-size: rel($small-font-size);
	}
	&:after {
		background: url(/img/crest.svg) no-repeat 0 0;
		background-size: 100%;
		content: "";
		height: 110px;
		left: 50%;
		margin-left: -45px;
		position: absolute;
		top: -55px;
		width: 90px;
	}
}



// ::State styles
// ------------------------------------------------------------



// ::Theme styles
// ------------------------------------------------------------

// n/a
