// Table of Contents
// -------------------------------------------------------------

// ::Utilities
// ::Settings

// ::Reset
// ::Base styles

// ::Layout styles
// ::Module styles
// ::State styles
// ::Theme styles



// ::Settings and ::Utilities
// ------------------------------------------------------------
@import "libs/utilities";
@import "settings";



// ::Reset
// ------------------------------------------------------------
@import "libs/reset";



// ::Base styles - almost exclusively single element selectors
// ------------------------------------------------------------

@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }

html {
	background: $body-color;
	font-size: percent($base-font-size, 16px);
	-webkit-overflow-scrolling: touch;
	// -webkit-tap-highlight-color: $lightest-neutral-color;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: transparent;
	color: $text-color;
	font-family: $base-font-family;
	font-size: rel($base-font-size);
	line-height : rel($base-line-height);
	width : 100%;
}

sup, sub { line-height:0; font-size:rel($smallest-font-size ); }

a {
	color: $link-color;
	@include force-wrap;					// force text links to wrap
	&:hover {
		color: $link-color-hover;
	}
	&:visited {
		color: $link-color-visited;
	}
	&:focus, &:active {
		color: $link-color-focus;
	}
}

h1, h2, h3 , h4, h5, h6 {
	font-family:$heading-font-family;
	font-weight:700;
}

/*h1*/.title {
	color: $primary-color;
	font-size: rel(36);
	letter-spacing: .25em;
	text-transform: uppercase;
}

h2 {
	font-size: rel(21);
}

p + p {
	text-indent: 1.5em;
}

header[role='banner'] {
	background:$black;
	margin-bottom:rel($vertical-rhythm * 10);
	position:relative;
	.graphic {
		background:$primary-color;
		bottom:0;
		display:block;
		height:8px;
		left:0;
		position:absolute;
		width:100%;
	}
}

// TODO: remove the div later
div.logo {
	height:80px;
	margin:0 auto;
	position:relative;
	width:412px;
}
.letters {
	position:absolute;
	bottom:-16px;
}
.mark {
	left:229px;
	position:absolute;
	bottom:-13px;
	z-index:10;
}

blockquote {
	background: $black;
	border-top: 8px solid $secondary-color;
	color: $primary-color;
	float:right;
	padding:rel($vertical-rhythm * 4);
	width:48.64086%;
	p {
		font-family: $alt-font-family;
		font-size: rel(21);
		@include transform(rotate(-10deg) skew(-20deg));
	}
}


.footer {
	clear:both;
	small {
		font-family:$alt-font-family;
	}
}

// Import base typography into the cascade (if required)
// @import "libs/typography";


// Import form styles into the cascade (if required)
// @import "libs/forms";



// ::Layout styles
// ------------------------------------------------------------

// grid
// the grid styles are in grid.css (to speed up compiling) - for production it would be good to move them here



// ::Module styles
// ------------------------------------------------------------

// home banner
.home header {
	background: $white;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 2% 0 3% 0;
}
.home .logo {
	display: block;
	margin: 0 0 0 -1.75%;
	@include transform(rotate(2deg));
	@include transform-origin(0 100%);
	width: 103%;
}

// home tag
.tag {
	border-bottom: rel($vertical-rhythm) $border-style $primary-color;
	@include transform(rotate(2deg));
	@include transform-origin(0 100%);
	@include mq($bp-small) {
		font-size: rel($medium-font-size);
		line-height: rel($vertical-rhythm * 4);
	}
	@include mq($bp-medium) {
		font-size: rel($large-font-size);
		line-height: rel($vertical-rhythm * 5);
	}
}

.tag div {
	background: $white;
	@extend %cf;
	margin: 0 0 0 -2.5%;
	padding: rel($vertical-rhythm * 3) 0 rel($vertical-rhythm * 3) 0;
	overflow: hidden;
	width: 105%;
}

// home overview
.overview {
	background: $black;
	color: $lighter-tertiary-color;
	// padding: rel($vertical-rhythm * 3) 0;
}

.overview h2 {
	font-size: rel($large-font-size);
	line-height: rel($vertical-rhythm * 5);
	margin: rel($vertical-rhythm * 3) 0;
}

.overview p {
	margin: rel($vertical-rhythm * 3) 0;
	text-indent: 0;
}

.overview ul {
	margin: rel($vertical-rhythm * 3) 0;
}

// home start
.start {
	background: $primary-color;
	color: $lighter-tertiary-color;
	padding: rel($vertical-rhythm * 3) 0;
	text-align: center;
}



// ::State styles
// ------------------------------------------------------------



// ::Theme styles
// ------------------------------------------------------------

// n/a
