    <div id="love" class="love l-all m-all s-all l-padinfull m-padinfull s-padinfull">
        <h2>We&#8217;d Love To Work With&nbsp;You</h2>
        <p>Send a <a href="http://twitter.com/?status=@guerillalabs">tweet</a> or <a href="mailto:gorilla@guerillalabs.co">email</a>.</p>
    </div>
    <footer class="main footer l-all m-all s-all l-padinfull m-padinfull s-padinfull">
        <p>Guerilla Labs thanks you for your&nbsp;participation.</p>
        <small>&copy; {{ site.time | date: "%Y" }} Guerilla Labs, LLC. All Rights Reserved</small>
    </footer>
    {% if page.code %}<script src='/js/prism.js'></script>{% endif %}
    {% if site.dev %}<script src='/js/grid-overlay.js'></script>{% endif %}
</body>
</html>
